/* Position banner */
#donate-banner {
    position: relative;
    margin: 0 auto;
    max-width: 986px;
    padding: 1em 2em;
    display: block;
    font-family: "Source Sans Pro Regular", sans-serif;
    background-color: white;
}

/* Hide all translations of the banner by default */
body .donate-de,
body .donate-es,
body .donate-fa,
body .donate-fr,
body .donate-it,
body .donate-pt {
    display: none;
}

/* Hide the English banner for all other languages

   This way, the English banner is still displayed when the PO plugin is
   disabled. This is useful for development.
   */
body.de .donate-en,
body.es .donate-en,
body.fa .donate-en,
body.fr .donate-en,
body.it .donate-en,
body.pt .donate-en {
    display: none;
}

/* Show the banner corresponding to the current language */
body.de .donate-de,
body.es .donate-es,
body.fa .donate-fa,
body.fr .donate-fr,
body.it .donate-it,
body.pt .donate-pt {
    display: block !important;
}

/* Style for 2018 */

#donate-banner {
    background: yellow url(donate-banner/give-love.svg) no-repeat 1.2em;
    background-size: 4.6em;
    color: black;
    padding-left: 7em;
    font-size: 16px;
    font-weight: bold;
}

#donate-banner .first {
    display: inline-block;
    margin-bottom: 0.1em;
}

#donate-banner .second {
    display: inline-block;
    border-bottom: 2px solid black;
}
