<div>[[!meta title="Choose your manual upgrade scenario"]]</div>

[[!meta robots="noindex"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="install/inc/stylesheets/assistant" rel="stylesheet" title=""]]

<div id="scenarios" class="row">
  <div class="col-md-6">

    <h3>Upgrade from another Tails</h3>

    <p>If you know someone you trust who already did the upgrade, you can
    upgrade your Tails by cloning from their Tails.</p>

    <h4>You need:</h4>

    <ul>
      <li>Your Tails USB stick</li>
      <li>Another up-to-date Tails (USB stick or DVD)</li>
      <li>¼ hour to upgrade</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-body two-lines"><small>Manually</small><br />upgrade from another Tails</div>
      </div>
    |upgrade/clone-overview]]
  </div>
  <div class="col-md-6">

    <h3>Upgrade inside Tails (or Linux)</h3>

    <h4>You need:</h4>

    <ul>
      <li>Your Tails USB stick</li>
      <li>Another empty USB stick <small>(at least 8 GB)</small>&nbsp;[[!toggle id="why_extra" text="Why?"]]

        [[!toggleable id="why_extra" text="""
        [[!toggle id="why_extra" text="X"]]
        [[!inline pages="install/inc/router/why_extra.inline" raw="yes" sort="age"]]
        """]]
      </li>
      <li>1 hour to download Tails (<small class="remove-extra-space">[[!inline pages="inc/stable_amd64_iso_size" raw="yes" sort="age"]]</small>)</li>
      <li>½ hour to upgrade</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-body two-lines"><small>Manually</small><br />upgrade inside Tails (or Linux)</div>
      </div>
    |upgrade/tails-overview]]

  </div>
</div>

<div class="row also">
  <div class="col-sm-4 col-sm-offset-8">
    <small>

      You can also:
      <ul>
        <li>[[Burn a new Tails DVD|install/dvd]]</li>
        <li>[[Upgrade your virtual machine|install/vm-download]]</li>
      </ul>

    </small>
  </div>
</div>
