<div id="activate-tails-verification"></div> <!-- Needed to activate the verification extension -->
<div id="extension-version">2.4</div> <!-- Minimum version of the extension -->
<div id="tails-version">[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</div>

<h1 class="windows linux mac dvd vm upgrade-tails">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</h1>

<div class="row">

  <div id="direct-download" class="col-md-6"> <!-- Direct download -->
    <h2>Direct download</h2>

    <div class="supported-browser no-js">
      <div id="step-download-direct">
        <h3><span class="step-number"><span class="windows linux mac upgrade-tails">1.</span>1</span>Download Tails</h3>
        <div class="windows linux mac upgrade-tails download-only-img">
          <a href="[[!inline pages="inc/stable_amd64_img_url" raw="yes" sort="age"]]" id="download-img" class="use-mirror-pool btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_img_size" raw="yes" sort="age"]]</span>)</a>
          <a href="[[!inline pages="inc/stable_amd64_img_url" raw="yes" sort="age"]]" id="download-img" class="use-mirror-pool-on-retry btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_img_size" raw="yes" sort="age"]]</span>)</a>
        </div>
        <div class="dvd vm download-only-iso">
          <a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso" class="use-mirror-pool btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_iso_size" raw="yes" sort="age"]]</span>)</a>
          <a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso" class="use-mirror-pool-on-retry btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_iso_size" raw="yes" sort="age"]]</span>)</a>
        </div>
        <p id="already-downloaded" class="indent"><a>I already downloaded Tails <span class="remove-extra-space">&nbsp;[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</span>.</a></p>
      </div>

      <div id="step-verify-direct">
        <h3><span class="step-number"><span class="windows linux mac upgrade-tails">1.</span>2</span>Verify your download using your browser</h3>
        <div class="caution indent">
          <p><b>For your security,<br/>always verify your download!</b></p>
          <p class="floating-toggleable-link why-verify-link">[[!toggle id="why-verify-supported" text="Why?"]]</p>
          <div id="why-verify-supported" class="floating-toggleable">
          [[!toggleable id="why-verify-supported" text="""
          [[!toggle id="why-verify-supported" text="X"]]
          <p>With an unverified download, you might:</p>
          <ul>
            <li>Lose time if your download is incomplete or broken due to an error during the download.
                This is quite frequent.</li>
            <li>Get hacked while using Tails if our download mirrors have been compromised and are serving malicious downloads.<br/>
                <a href="http://blog.linuxmint.com/?p=2994">This already happened to other operating systems.</a></li>
            <li>Get hacked while using Tails if your download is modified on the fly by an attacker on the network.<br/>
                <a href="https://en.wikipedia.org/wiki/DigiNotar">This is possible for strong adversaries.</a></li>
          </ul>
          <p>[[How does the extension work?|contribute/design/verification_extension]]</p>
          """]]
          </div>
          <p>Our browser extension makes it quick and easy.</p>
        </div>
        <div id="install-extension" class="indent">
          <a href="https://addons.mozilla.org/firefox/downloads/latest/tails-verification/addon-tails-verification-latest.xpi" class="install-extension-btn supported-browser firefox btn btn-primary inline-block">Install <u>Tails Verification</u> extension</a>
          <a href="https://chrome.google.com/webstore/detail/tails-verification/gaghffbplpialpoeclgjkkbknblfajdl" class="install-extension-btn supported-browser chrome btn btn-primary inline-block" target="_blank">Install <u>Tails Verification</u> extension</a>
          <div class="no-js">
            <p>You seem to have JavaScript disabled. To use our browser
               extension, please allow all this page:</p>
            [[!img screenshots/allow_js.png link="no"]]
          </div>
        </div>
        <div id="update-extension" class="indent block">
          <p>Your extension is an older version.</p>
          <a href="https://addons.mozilla.org/firefox/downloads/latest/tails-verification/addon-tails-verification-latest.xpi" class="install-extension-btn firefox btn btn-primary inline-block">Update extension</a>
          <a href="https://chrome.google.com/webstore/detail/tails-verification/gaghffbplpialpoeclgjkkbknblfajdl" class="install-extension-btn chrome btn btn-primary inline-block" target="_blank">Update extension</a>
        </div>
        <div id="verification" class="indent block">
          <p id="extension-installed" class="block"><u>Tails Verification</u> extension installed!</p>
          <label id="verify-download-wrapper" class="btn btn-primary inline-block">
            Verify Tails <span class="remove-extra-space">&nbsp;[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</span>&hellip;
            <input id="verify-download" type="file"/>
          </label>
          <div id="verifying-download" class="indent block">
            <p>Verifying <span id="filename">$FILENAME</span>&hellip;</p>
            <div class="progress">
              <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <p id="verification-successful" class="block">Verification successful!</p>
          <div id="verification-failed" class="block">
            <p><b>Verification failed!</b></p>
            <p class="floating-toggleable-link why-failed-link">[[!toggle id="why-failed" text="Why?"]]</p>
            <div id="why-failed" class="floating-toggleable">
            [[!toggleable id="why-failed" text="""
            [[!toggle id="why-failed" text="X"]]
            <p>Most likely, the verification failed because of an error
            or interruption during the download.</p>

	    <p>The verification also fails if you try to verify a different
            download than the latest version (<span class="remove-extra-space">[[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]</span>).</p>

            <p>Less likely, the verification might have failed because
            of a malicious download from our download mirrors or due to
            a network attack in your country or local network.</p>

            <p>Downloading again is usually enough to fix this
            problem.</p>

            <p>[[How does the extension work?|contribute/design/verification_extension]]</p>
            """]]
            </div>
            <p class="windows linux mac upgrade-tails download-only-img"><a href="[[!inline pages="inc/stable_amd64_img_url" raw="yes" sort="age"]]" id="download-img-again" class="use-mirror-pool-on-retry">Please try to download again&hellip;</a></p>
            <p class="dvd vm download-only-iso"><a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso-again" class="use-mirror-pool-on-retry">Please try to download again&hellip;</a></p>
          </div>
          <div id="verification-failed-again" class="block">
            <p><b>Verification failed again!</b></p>
            <p class="floating-toggleable-link why-failed-again-link">[[!toggle id="why-failed-again" text="Why?"]]</p>
            <div id="why-failed-again" class="floating-toggleable">
            [[!toggleable id="why-failed-again" text="""
            [[!toggle id="why-failed-again" text="X"]]
            <p>The verification might have failed again because of:</p>
            <ul>
              <li>A software problem in our verification extension</li>
              <li>A malicious download from our download mirrors</li>
              <li>A network attack in your country or local network</li>
            </ul>
            <p>Trying from a different place or a different computer might solve any of these issues.</p>
            """]]
            </div>
            <p>Please try to download again from a different place or a different computer&hellip;</p>
          </div>
        </div>
      </div>

      <div id="step-continue-direct">
        <h3><span class="step-number"><span class="windows linux mac upgrade-tails">1.</span>3</span>Continue
          <span class="windows linux mac">installing</span>
          <span class="upgrade-tails">upgrading</span>
          <span class="download-only-img download-only-iso">installing or upgrading</span></h3>
      </div>
      <div id="continue-link-direct" class="indent">
        <div id="skip-download-direct">
          <span class="windows">[[Skip download|win/usb]]</span>
          <span class="linux">[[Skip download|linux/usb]]</span>
          <span class="mac">[[Skip download|mac/usb]]</span>
          <span class="dvd">[[Skip download|dvd]]</span>
          <span class="vm">[[Skip download|doc/advanced_topics/virtualization]]</span>
          <span class="upgrade-tails">[[Skip download|upgrade/tails]]</span>
        </div>
        <div id="skip-verification-direct" class="block">
          <div class="windows">[[Skip verification!|win/usb]]</div>
          <div class="linux">[[Skip verification!|linux/usb]]</div>
          <div class="mac">[[Skip verification!|mac/usb]]</div>
          <div class="dvd">[[Skip verification!|dvd]]</div>
          <div class="vm">[[Skip verification!|doc/advanced_topics/virtualization]]</div>
          <div class="upgrade-tails">[[Skip verification!|upgrade/tails]]</div>
        </div>
        <div id="next-direct">
          <div class="windows">[[<div class="btn btn-primary inline-block">Next: Install Tails (<span class="next-counter"></span>)</div>|win/usb]]</div>
          <div class="linux">[[<div class="btn btn-primary inline-block">Next: Install Tails (<span class="next-counter"></span>)</div>|linux/usb]]</div>
          <div class="mac">[[<div class="btn btn-primary inline-block">Next: Install Tails (<span class="next-counter"></span>)</div>|mac/usb]]</div>
          <div class="upgrade-tails">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|upgrade/tails]]</div>
          <div class="dvd">[[<div class="btn btn-primary inline-block">Next: Burning Tails on a DVD</div>|dvd]]</div>
          <div class="vm">[[<div class="btn btn-primary inline-block">Next: Virtualization</div>|doc/advanced_topics/virtualization]]</div>
          <div class="download-only-img">
            <p>Upgrade your Tails USB stick and keep your persistent storage:</p>
            <ul>
              <li>[[Upgrade inside Tails|upgrade/tails]]</li>
            </ul>
            <p>Install a new USB stick:</p>
            <ul>
              <li>[[Install from Windows|install/win/usb]]</li>
              <li>[[Install from macOS|install/mac/usb]]</li>
              <li>[[Install from Linux|install/linux/usb]]</li>
            </ul>
          </div>
          <ul class="download-only-iso">
            <li>[[Burn on a DVD|dvd]]</li>
            <li>[[Run in a virtual machine|doc/advanced_topics/virtualization]]</li>
          </ul>
        </div>
      </div>
    </div> <!-- Supported browser & No JS -->

    <div class="outdated-browser unsupported-browser">
      <p>You are using <u><b><span id="detected-browser">$DETECTED-BROWSER</span></b></u>.</p>
      <p>Direct download is only available for:</p>
      <ul>
        <li>Firefox <span id="min-version-firefox">$MINVER-FIREFOX</span> and later (<a href="https://www.mozilla.org/firefox/new/">Download</a>)</li>
        <li>Chrome<span id="min-version-chrome">$MINVER-CHROME</span> and later (<a href="https://www.google.com/chrome/">Download</a>)</li>
        <li>Tor Browser <span id="min-version-tor-browser">$MINVER-TOR-BROWSER</span> and later (<a href="https://www.torproject.org/download/download-easy.html">Download</a>)</li>
      </ul>
    </div>
    <div class="outdated-browser">
      <p>Please update your browser to the latest version.</p>
    </div>
    <div class="unsupported-browser">
      <div class="caution">
        <p><b>For your security,<br/>always verify your download!</b></p>
        <p class="floating-toggleable-link why-verify-link">[[!toggle id="why-verify-unsupported" text="Why?"]]</p>
        <div id="why-verify-unsupported" class="floating-toggleable">
        [[!toggleable id="why-verify-unsupported" text="""
        [[!toggle id="why-verify-unsupported" text="X"]]
        <p>With an unverified download, you might:</p>
        <ul>
          <li>Lose time if your download is incomplete or broken due to an error during the download.
              This is quite frequent.</li>
          <li>Get hacked while using Tails if our download mirrors have been compromised and are serving malicious downloads.<br/>
              <a href="http://blog.linuxmint.com/?p=2994">This already happened to other operating systems.</a></li>
          <li>Get hacked while using Tails if your download is modified on the fly by an attacker on the network.<br/>
              <a href="https://en.wikipedia.org/wiki/DigiNotar">This is possible for strong adversaries.</a></li>
        </ul>
        <p>[[How does the extension work?|contribute/design/verification_extension]]</p>
        """]]
        </div>
        <p>Our browser extension for Firefox, Chrome, and Tor Browser makes this quick and easy.</p>
      </div>
      <p>Copy and paste this link in Firefox, Chrome, or Tor Browser:</p>
      <p class="windows"><code>https://tails.boum.org/install/win/usb-download/</code></p>
      <p class="linux"><code>https://tails.boum.org/install/linux/usb-download/</code></p>
      <p class="mac"><code>https://tails.boum.org/install/mac/usb-download/</code></p>
      <p class="upgrade-tails"><code>https://tails.boum.org/upgrade/tails-download/</code></p>
      <p class="dvd"><code>https://tails.boum.org/install/dvd-download/</code></p>
      <p class="vm"><code>https://tails.boum.org/install/vm-download/</code></p>
      <p class="download-only-img"><code>https://tails.boum.org/install/download/</code></p>
      <p class="download-only-iso"><code>https://tails.boum.org/install/download-iso/</code></p>
    </div> <!-- Outdated browser -->
  </div> <!-- Direct download -->

  <div id="bittorrent-download" class="col-md-6">
    <h2>BitTorrent download</h2>
    <p class="floating-toggleable-link what-is-bittorrent-link">[[!toggle id="what-is-bittorrent" text="What is BitTorrent?"]]</p>

    <div id="what-is-bittorrent" class="floating-toggleable">
    [[!toggleable id="what-is-bittorrent" text="""
    [[!toggle id="what-is-bittorrent" text="X"]]
    <p>BitTorrent is a peer-to-peer technology for file sharing that makes your
    download faster and easier to resume.</p>

    <p>You need to install BitTorrent software on your computer, like
    <a href="https://transmissionbt.com/">Transmission</a> (for Windows, macOS, and Linux).</p>

    <p>BitTorrent doesn't work over Tor or in Tails.</p>
    """]]
    </div>

    <div id="step-download-torrent">
      <h3><span class="step-number"><span class="windows linux mac upgrade-tails">1.</span>1</span>Download Tails (Torrent file)</h3>
      <div class="windows linux mac upgrade-tails download-only-img">
        <a href="[[!inline pages="inc/stable_amd64_img_torrent_url" raw="yes" sort="age"]]" id="download-img-torrent" class="btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] Torrent file for USB image</a>
      </div>
      <div class="dvd vm download-only-iso">
        <a href="[[!inline pages="inc/stable_amd64_iso_torrent_url" raw="yes" sort="age"]]" id="download-iso-torrent" class="btn btn-primary inline-block indent">Download Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] Torrent file for ISO image</a>
      </div>
    </div>

    <div id="step-verify-bittorrent">
      <h3><span class="step-number"><span class="windows linux mac upgrade-tails">1.</span>2</span>Verify your download using BitTorrent</h3>
      <p class="indent">Your BitTorrent client will automatically verify your download when it is complete.</p>
    </div>

    <div id="step-continue-bittorrent">
      <h3><span class="step-number"><span class="windows linux mac dvd vm upgrade-tails">1.</span>3</span>Continue
          <span class="windows linux mac">installing</span>
          <span class="upgrade-tails">upgrading</span>
          <span class="download-only-img download-only-iso">installing or upgrading</span></h3>
      <p class="windows linux mac dvd vm upgrade-tails indent">Open and download
      the Torrent file with your BitTorrent client. It contains the
      Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]]
      <span class="windows linux mac upgrade-tails">USB</span>
      <span class="dvd vm">ISO</span>
      image that you will use in the next step.</p>
    </div>
    <div id="continue-link-bittorrent" class="indent">
      <div id="skip-download-bittorrent">
        <span class="windows">[[Skip download|win/usb]]</span>
        <span class="linux">[[Skip download|linux/usb]]</span>
        <span class="mac">[[Skip download|mac/usb]]</span>
        <span class="dvd">[[Skip download|dvd]]</span>
        <span class="vm">[[Skip download|doc/advanced_topics/virtualization]]</span>
        <span class="upgrade-tails">[[Skip download|upgrade/tails]]</span>
      </div>
      <div id="next-bittorrent">
        <div class="windows">[[<div class="btn btn-primary inline-block">Next: Install Tails (<span class="next-counter"></span>)</div>|win/usb]]</div>
        <div class="linux">[[<div class="btn btn-primary inline-block">Next: Install Tails (<span class="next-counter"></span>)</div>|linux/usb]]</div>
        <div class="mac">[[<div class="btn btn-primary inline-block">Next: Install Tails (<span class="next-counter"></span>)</div>|mac/usb]]</div>
        <div class="upgrade-tails">[[<div class="btn btn-primary inline-block">Next: Install an intermediary Tails (<span class="next-counter"></span>)</div>|upgrade/tails]]</div>
        <div class="dvd">[[<div class="btn btn-primary inline-block">Next: Burning Tails on a DVD</div>|dvd]]</div>
        <div class="vm">[[<div class="btn btn-primary inline-block">Next: Virtualization</div>|doc/advanced_topics/virtualization]]</div>
        <div class="download-only-img">
          <p>Upgrade your Tails USB stick and keep your persistent storage:</p>
          <ul>
            <li>[[Upgrade inside Tails|upgrade/tails]]</li>
          </ul>
          <p>Install a new USB stick:</p>
          <ul>
            <li>[[Install from Windows|install/win/usb]]</li>
            <li>[[Install from macOS|install/mac/usb]]</li>
            <li>[[Install from Linux|install/linux/usb]]</li>
          </ul>
        </div>
        <ul class="download-only-iso">
          <li>[[Burn on a DVD|dvd]]</li>
          <li>[[Run in a virtual machine|doc/advanced_topics/virtualization]]</li>
        </ul>
      </div>
    </div>
  </div> <!-- BitTorrent download -->

</div>

<div id="openpgp">

<h2>Verify using OpenPGP (optional)</h2>

<p>If you know OpenPGP, you can also verify your download using an
OpenPGP signature instead of, or in addition to, our browser extension or
BitTorrent.</p>

<p>Download the
<a class="windows linux mac upgrade-tails download-only-img" href="[[!inline pages="inc/stable_amd64_img_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image</a>
<a class="dvd vm download-only-iso" href="[[!inline pages="inc/stable_amd64_iso_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image</a>
and save it to the same folder where
you saved the image.</p>

<h3>Basic OpenPGP verification</h3>

[[!toggle id="basic-openpgp" text="See instructions for basic OpenPGP verification."]]

[[!toggleable id="basic-openpgp" text="""
<span class="hide">[[!toggle id="basic-openpgp" text=""]]</span>

<p>This section provides simplified instructions:</p>

<ul>
  <li><a href="#windows">In Windows with <span class="application">Gpg4win</span></a></li>
  <li><a href="#mac">In macOS with <span class="application">GPGTools</span></a></li>
  <li><a href="#tails">In Tails</a></li>
  <li><a href="#command-line">Using the command line</a></li>
</ul>

<a id="windows"></a>

<h3>In Windows with <span class="application">Gpg4win</span></h3>

<ol>
  <li>
    <p>Download the
    <a class="windows linux mac upgrade-tails download-only-img" href="[[!inline pages="inc/stable_amd64_img_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image</a>
    <a class="dvd vm download-only-iso" href="[[!inline pages="inc/stable_amd64_iso_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image</a>
    and save it to the same folder where
    you saved the image.</p>
  </li>

  <li>
    <p>Download the [[Tails signing key|tails-signing.key]] and import it into
    <span class="application">Gpg4win</span>.</p>

    <p>See the [[<span class="application">Gpg4win</span> documentation on
    importing keys|https://www.gpg4win.org/doc/en/gpg4win-compendium_15.html]].</p>
  </li>

  <li>
    <p>Verify the signature of the image that you downloaded.</p>

    <p>See the [[<span class="application">Gpg4win</span> documentation on
    verifying signatures|http://www.gpg4win.org/doc/en/gpg4win-compendium_24.html#id4]].</p>

    <p>Verify that the date of the signature is at most five days earlier than
    the latest version: [[!inline pages="inc/stable_amd64_date" raw="yes" sort="age"]].</p>

    <p>If the following warning appears:</p>

    <pre>
    Not enough information to check the signature validity.
    Signed on ... by tails@boum.org (Key ID: 0x58ACD84F
    The validity of the signature cannot be verified.
    </pre>

    <p>Then the image is still correct according to the signing key that you
    downloaded. To remove this warning you need to <a href="#wot">authenticate the
    signing key through the OpenPGP Web of Trust</a>.</p>
  </li>
</ol>

<a id="mac"></a>

<h3>In macOS using <span class="application">GPGTools</span></h3>

<ol>
  <li>
    <p>Download the
    <a class="windows linux mac upgrade-tails download-only-img" href="[[!inline pages="inc/stable_amd64_img_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image</a>
    <a class="dvd vm download-only-iso" href="[[!inline pages="inc/stable_amd64_iso_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image</a>
    and save it to the same folder where
    you saved the image.</p>
  </li>

  <li>
   <p>Download the [[Tails signing key|tails-signing.key]] and import it into
   <span class="application">GPGTools</span>.</p>
   <p>See the [[<span class="application">GPGTools</span> documentation on
   importing keys|https://gpgtools.tenderapp.com/kb/gpg-keychain-faq/how-to-find-public-keys-of-your-friends-and-import-them#import-key-file]].</p>
  </li>
  <li>
   <p>Open <span class="application">Finder</span> and navigate to the
   folder where you saved the image and the signature.</p>
  </li>

  <li>
   <p>Control-click on the image and choose
   <span class="guimenuchoice">
     <span class="guisubmenu">Services</span> ▸
     <span class="guimenuitem">OpenPGP: Verify Signature of File</span></span>.</p>
  </li>
</ol>

<a id="tails"></a>

<h3>In Tails</h3>

<p>Tails comes with the Tails signing key already imported.</p>

<ol>
  <li>
    <p>Download the
    <a class="windows linux mac upgrade-tails download-only-img" href="[[!inline pages="inc/stable_amd64_img_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image</a>
    <a class="dvd vm download-only-iso" href="[[!inline pages="inc/stable_amd64_iso_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image</a>
    and save it to the same folder where
    you saved the image.</p>
  </li>

  <li>
   <p>Open the file browser and navigate to the folder where you saved the
   image and the signature.</p>
  </li>

  <li>
   <p>Right-click (on Mac, click with two fingers) on the signature and choose <span class="guimenuitem">Open With
   Verify Signature</span>.</p>
  </li>

  <li>
   <p>The verification of the image starts automatically:</p>

   <p>[[!img install/inc/screenshots/verifying_in_tails.png link="no"]]</p>
  </li>

  <li>
   <p>After the verification finishes, you should see a notification that the
   signature is good:</p>

   <p class="windows linux mac upgrade-tails download-only-img">[[!img install/inc/screenshots/verifying_in_tails_img_good.png link="no"]]</p>
   <p class="dvd vm download-only-iso">[[!img install/inc/screenshots/verifying_in_tails_iso_good.png link="no"]]</p>

   <p>Verify that the date of the signature is at most five days earlier
   than the latest version: [[!inline pages="inc/stable_amd64_date" raw="yes" sort="age"]].</p>

   <p>If instead, you see a notification that the signature is valid but untrusted:</p>

   <p class="windows linux mac upgrade-tails download-only-img">[[!img install/inc/screenshots/verifying_in_tails_img_untrusted.png link="no"]]</p>
   <p class="dvd vm download-only-iso">[[!img install/inc/screenshots/verifying_in_tails_iso_untrusted.png link="no"]]</p>

   <p>Then the image is still correct according to the signing key that you
   downloaded. To remove this warning you need to <a href="#wot">authenticate
   the signing key through the OpenPGP Web of Trust</a>.</p>
  </li>
</ol>

<a id="command-line"></a>

<h3>Using the command line</h3>


<ol>
  <li>
    <p>Download the
    <a class="windows linux mac upgrade-tails download-only-img" href="[[!inline pages="inc/stable_amd64_img_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] USB image</a>
    <a class="dvd vm download-only-iso" href="[[!inline pages="inc/stable_amd64_iso_sig_url" raw="yes" sort="age"]]">OpenPGP signature for the Tails [[!inline pages="inc/stable_amd64_version" raw="yes" sort="age"]] ISO image</a>
    and save it to the same folder where
    you saved the image.</p>
  </li>

  <li>
    <p>Download the [[Tails signing key|tails-signing.key]] and import it into
    <span class="application">GnuPGP</span>.</p>

    <p>To import the Tails signing key into
    <span class="application">GnuPGP</span>, open a terminal and navigate to
    the folder where you saved the Tails signing key.</p>

    <p>Execute:</p>

    <p class="pre">gpg --import tails-signing.key</p>
  </li>
  <li>
   <p>In a terminal, navigate to the folder where you saved the
   image and the signature.</p>
  </li>

  <li>
   <p>Execute:</p>

   <p class="windows linux mac upgrade-tails download-only-img pre">[[!inline pages="inc/stable_amd64_img_gpg_verify" raw="yes" sort="age"]]</p>
   <p class="dvd vm download-only-iso pre">[[!inline pages="inc/stable_amd64_iso_gpg_verify" raw="yes" sort="age"]]</p>

   <p>The output of this command should be the following:</p>

   <p class="windows linux mac upgrade-tails download-only-img pre">[[!inline pages="inc/stable_amd64_img_gpg_signature_output" raw="yes" sort="age"]]</p>
   <p class="dvd vm download-only-iso pre">[[!inline pages="inc/stable_amd64_iso_gpg_signature_output" raw="yes" sort="age"]]</p>

   <p>Verify that the date of the signature is at most five days
   earlier than the latest version: [[!inline pages="inc/stable_amd64_date" raw="yes" sort="age"]].</p>

   <p>If the output also includes:</p>

   <p class="pre">
   gpg: WARNING: This key is not certified with a trusted signature!<br/>
   gpg:          There is no indication that the signature belongs to the owner.<br/>
   </p>

   <p>Then the image is still correct according to the signing key that you
   downloaded. To remove this warning you need to <a href="#wot">authenticate
   the signing key through the OpenPGP Web of Trust</a>.</p>
  </li>

</ol>

"""]]

<a id="wot"></a>

<h3>Authenticate the signing key through the OpenPGP Web of Trust</h3>

<p>Authenticating our signing key through the OpenPGP Web of Trust is
the only way that you can be protected in case our website is
compromised or if you are a victim of a [[man-in-the-middle attack|doc/about/warning#man-in-the-middle]].
However, it is complicated to do and it might not be
possible for everyone because it relies on trust relationships between
individuals.</p>

[[!toggle id="web-of-trust" text="Read more about authenticating the Tails signing key through the OpenPGP Web of Trust."]]

[[!toggleable id="web-of-trust" text="""
<span class="hide">[[!toggle id="web-of-trust" text=""]]</span>

<p>The verification techniques that we present (browser extension,
BitTorrent, or OpenPGP verification) all rely on some
information being securely downloaded using HTTPS from our website:</p>

<ul>
  <li>The <em>checksum</em> for the Firefox extension</li>
  <li>The <em>Torrent file</em> for BitTorrent</li>
  <li>The <em>Tails signing key</em> for OpenPGP verification</li>
</ul>

<p>It is possible that you could download malicious information if our
website is compromised or if you are a victim of a man-in-the-middle
attack.</p>

<p>OpenPGP verification is the only technique that protects you if
our website is compromised or if you are a victim of a man-in-the-middle
attack. But, for that you need to authenticate the Tails signing key
through the OpenPGP Web of Trust.</p>

<div class="note">

<p>If you are verifying an image from inside Tails, for
example, to do a manual upgrade, then you already have the Tails signing key.
You can trust this signing key as much as you already trust your
Tails installation since this signing key is included in your Tails
installation.</p>

</div>

<p>One of the inherent problems of standard HTTPS is that the trust put
in a website is defined by certificate authorities: a hierarchical and closed
set of companies and governmental institutions approved by your web browser vendor.
This model of trust has long been criticized and proved several times to be
vulnerable to attacks [[as explained on our warning page|doc/about/warning#man-in-the-middle]].</p>

<p>We believe that, instead, users should be given the final say when trusting a
website, and that designation of trust should be done on the basis of human
interactions.</p>

<p>The OpenPGP [[!wikipedia Web_of_Trust]] is a
decentralized trust model based on OpenPGP keys that can help with solving
this problem. Let's see this with an example:</p>

<ol>
  <li>
   <em>You are friends with Alice and you really trust her way of making sure
   that OpenPGP keys actually belong to their owners.</em>
  </li>

  <li>
   <em>Alice met Bob, a Tails developer, in a conference and certified
   Bob's key as actually belonging to Bob.</em>
  </li>

  <li>
    <em>Bob is a Tails developer who directly owns the Tails signing key. So,
    Bob has certified the Tails signing key as actually belonging to Tails.</em>
  </li>
</ol>

<p>In this scenario, you found, through Alice and Bob, a path to trust the Tails signing key
without the need to rely on certificate authorities.</p>

<div class="tip">

<p>If you are on Debian, Ubuntu, or Linux Mint, you can install the
<code>debian-keyring</code> package which contains the OpenPGP keys of
all Debian developers. Some Debian developers have certified the Tails
signing key and you can use these certifications to build a trust path.
This technique is explained in detail in our instructions on
[[installing Tails from Debian, Ubuntu, or Linux Mint using the command
line|install/expert/usb]].</p>

</div>

<p>Relying on the Web of Trust requires both caution and intelligent supervision
by the users. The technical details are outside of the scope of this document.</p>

<p>Since the Web of Trust is based on actual human relationships and
real-life interactions, it is best to get in touch with people
knowledgeable about OpenPGP and build trust relationships in order to
find your own trust path to the Tails signing key.</p>

<p>For example, you can start by contacting a local [[!wikipedia Linux_User_Group]],
[[an organization offering Tails training|support/learn]], or other Tails
enthusiasts near you and exchange about their OpenPGP practices.</p>

<div class="tip">

<p>After you build a trust path, you can certify the Tails signing key by
signing it with your own key to get rid of some warnings during the
verification process.</p>

</div>

"""]]

</div>
